*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    display: flex;
    gap: 40px;
    align-items: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.headerLeft{
    display: flex;
    align-items: center;
}

.logo{
    padding: 24px 30px;
    border-right: 1px solid #ccc;
}

.headerAddress{
    padding: 20px 30px;
}

.headerAddress h3{
    font-size: 18px;
    margin-bottom: 5px;
}

.headerAddress p{
    font-size: 14px;
}

.searchBox{
    flex-grow: 1;
    background-color: #f8f8f8;
    display: flex;
    border-radius: 15px;
    border: 1px solid #f4f4f4;
}

.searchBox input{
    flex-grow: 1;
    border: none;
    background-color: transparent;
    outline: none;
}

.searchBox button{
    padding:15px;
    border: none;
    background-color: transparent;
}

.headerBtn{
    display: flex;
    margin-right: 40px;
    gap: 50px;
}

.headerBtn button{
    font-size: 16px;
    padding: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.headerBtn button:last-child{
    background-color: rgba(12,131,31);
    color: white;
    border-radius: 8px;
    font-weight: bold;
}

.headerBtn button:last-child i{
    margin-right: 8px;
}

.bannerSection{
    max-width: 1280px;
    margin: auto;
}

.bannerSection img{
    width: 100%;
}

.orderBanner{
    display: flex;
    max-width: 1280px;
    margin: auto;
}

.orderBannerItems{
    flex-basis: 26%;
    margin: 0.9%;
}

.orderBannerItems img{
    width: 100%;
}

.categorySection{
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.categoryItems{
    flex-basis: 10%;
}

.categoryItems img{
    width: 100%;
}

footer{
    padding: 40px 0px 0px 0px;
}

.footer-mid{
    max-width: 1280px;
    margin: auto;
}

.footer-mid-row1{
    width: 100%;
    display: flex;
    gap: 60px;
}

.footer-mid-row1-left{
    flex-basis: 30%;
}

.footer-mid-row1-left h4{
    margin-bottom: 20px;
}

.usefulLinks{
    display: flex;
    
}

.usefulLinks ul{
    flex-basis: 33%;
    list-style: none;
}

.usefulLinks ul li a{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    color: rgba(102 102 102);
}

.footer-mid-row1-right{
    flex-basis: 70%;
}

.CategoryHeadingRow{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    gap: 15px;
    margin-bottom: 24px;
}

.CategoryHeadingRow a{
    color: rgba(12,131,31);
}

.footer-mid-row3 p{
    padding: 10px 0px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(102 102 102);
}

.footer-mid-row2{
    background-color: #fcfcfc;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0px
}

.footer-mid-row2 p{
    flex-basis: 40%;
    font-size: 14px;
    text-align: center;
    color: rgba(102 102 102);
    padding: 20px;
}

.appIcon{
    display: flex;
    flex-basis: 30%;
    align-items: center;
    gap: 17px;
}

.appIcon h5{
    color: rgba(102 102 102);
}

.threads{
    background-color: black;
    border-radius: 50px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:25px
}
.socialIcon{
    display: flex;
    gap: 12px;
}
